
%h2 Listing of Authors

%table.table.table-hover
  %thead
    %tr
      %th Firstname
      %th Lastname
      %th Genre
      %th Dobirth
      %th Dodeaths
      %th
      %th
      %th

  %tbody
    - @authors.each do |author|
      %tr
        %td= author.first_name
        %td= author.last_name
        %td= author.genre
        %td= author.dobirth
        %td= author.dodeath
        %td= link_to 'Show', author, class: 'btn btn-warning btn-md'
        %td= link_to 'Edit', edit_author_path(author), class: 'btn btn-danger btn-md'
        %td= link_to 'Destroy', author, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-success btn-md'

%br

= link_to 'New Author', new_author_path, class: 'btn btn-primary btn-md'
