
%table.table.table-condensed
  %thead
    %tr
    %td Firstname:
    %td= @author.first_name

    %tr
    %td Lastname:
    %td= @author.last_name

    %tr
    %td Genre:
    %td= @author.genre

    %tr
    %td Dobirth:
    %td= @author.dobirth

    %tr
    %td Dodeath:
    %td= @author.dodeath

= link_to 'Edit', edit_author_path(@author), class: 'btn btn-warning btn-md'
= link_to 'Back', authors_path, class: 'btn btn-success btn-md'

%table.table
  %thead
    %th Publisher
    %th price
    %th
  %tbody
    - @books.each do |book|
      %td= book.publisher
      %td= book.price
%td
