= form_for @user do |u|
  - if @user.errors.any?
    %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
    %ul
      - @user.errors.full_messages.each do |message|
        %li= message
  .field
    = u.label :first_name
    = u.text_field :first_name
  .field
    = u.label :last_name
    = u.text_field :last_name
  .field
    = u.label :user_name
    = u.text_field :user_name
  .field
    = u.label :email
    = u.text_field :email
  .field
    = u.label :password
    = u.password_field :password
  .field
    = u.label :password_confirmation
    = u.password_field :password_confirmation
  .actions
    = u.submit 'Submit'

    © 2018 GitHub, Inc.
