%table.table.table-condensed
  %thead
    %tr
    %td Title:
    %td= @publisher.title

    %tr
    %td City:
    %td= @publisher.city

    %tr
    %td State:
    %td= @publisher.state

= link_to 'Edit', edit_publisher_path(@publisher), class: 'btn btn-success btn-sm'
= link_to 'Back', publishers_path, class: 'btn btn-warning btn-sm'

%table.table
  %thead
    %tr
      %th Genre
      %th Author
      %th
    %tbody
      - @publisher.books.each do |books|
        %tr
          %td= books.category
          %td
%td
