%table.table.table-condensed
  %thead
    %tr
    %td Category:
    %td= @category.title

= link_to 'Edit', edit_category_path(@category), class: 'btn btn-warning btn-sm'
= link_to 'Back', categories_path, class: 'btn btn-danger btn-sm'

%table.table
  %thead
    %tr
      %th Title
      %th Price
      %th
      %th
    %tbody
      - @category.books.each do |book|
        %tr
          %td= book.title
          %td= book.price
          %td= link_to "Show", book, class: 'btn btn-primary btn-md'
